python-testing/htmlcov/
python-testing/__pycache__/
python-testing/coverage.xml
python-testing/.coverage
python-testing/junit/
python-webapp/__pycache__/
python-webapp/python-webapp/
.idea/
.env/
azure-functions/MyFunctionProj/.vscode/
azure-functions/.vscode/
ml-service/.ipynb_checkpoints/
*__pycache__*
ml-service/experiment/outputs/
ml-service/outputs/
